[include]
    path = ~/.gitconfig_private
[core]
    excludesfile = ~/.gitexclude
    whitespace = fix,trailing-space,cr-at-eol
[pack]
    # Auto-detect the number of CPUs.
    threads = 0
[diff]
    renames = copies
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = white
    frag = cyan bold
    func = magenta
    plain = black bold
    old = red
    new = green
    whitespace = red reverse
[color "status"]
    branch = yellow reverse
    updated = red bold
    changed = red
    untracked = magenta
[rebase]
    autosquash = true
[alias]
    aliases = !git config --get-regexp '^alias\\..*' | cut -c 7- | sed 's/ / = /' | sort
    st = status
    br = branch
    ci = commit
    co = checkout

    s = status -sb
    diffs = diff --stat

    l = log --oneline --decorate
    ll = log @{upstream}.. --oneline --decorate
    llog = log @{upstream}.. --decorate

    unstage = reset HEAD
    amen = commit --amend -C HEAD
    amend = commit --amend
    ammend = commit --amend
    patch = add --patch
[url "git://github.com/"]
    insteadOf = https://github.com/
[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = https://github.com/
