# To re-read (and implement changes to this file) use:
#   bind -f ~/.inputrc

$include /etc/inputrc

set bell-style none

# Allow the command prompt to wrap to the next line
set horizontal-scroll-mode off

# Ignore case when doing completion
set completion-ignore-case on

# Enable one-tab completion
set show-all-if-ambiguous on

# Completed dir names have a slash appended
set mark-directories on

# Completed names which are symlinks to dirs have a slash appended
set mark-symlinked-directories on

# Don't match hidden files unless '.' is the first character.
set match-hidden-files off

set page-completions off
set completion-query-items 350
set expand-tilde on

# Adds trailing symbols like `ls -F`
set visible-stats on

# Don't strip characters to 7 bits when reading
set input-meta on

# Allow latin1 characters to be inserted rather than converted to
# prefix-meta sequences
set convert-meta off

# Display characters with the eighth bit set directly rather than as
# meta-prefixed characters
set output-meta on

set blink-matching-paren on

set editing-mode vi

$if mode=vi
    set keymap vi-command

    # Incremental searching with Up and Down
    "\e[A": history-search-backward
    "\e[B": history-search-forward

    set keymap vi-insert

    "\C-l": clear-screen

    # Incremental searching with Up and Down
    "\e[A": history-search-backward
    "\e[B": history-search-forward
$else
    # Bash mode

    # Incremental searching with Up and Down
    "\e[A": history-search-backward
    "\e[B": history-search-forward
$endif
