# warnings off
templates:
  global:
    cookies: ~/.flexget/private/cookies.sqlite
    download: ~/Downloads/.
    no_entries_ok: yes

  torrents:
    content_filter:
      require: [ '*.avi', '*.mkv', '*.mp4', '*.rar' ]
      reject: [ '*.m2ts' ]
    torrent_scrub: on
    torrent_alive: { min_seeds: 5, reject_for: 10 minutes }
    exec:
      on_output:
        # for_accepted: |
        #   growlnotify -t 'FlexGet: torrent from {{task}}' -m \
        #     '{{ title | re_replace("['']", "") }}' >/dev/null 2>&1
        #   tmux display-message 'FlexGet: {{task}}: {{
        #     title | re_replace("['']", "") }}' >/dev/null 2>&1
        phase: |
          # This is also run from cron every few minutes.
          nice -n 20 transmission-watchdog

  private-torrents:
    template: torrents
    private_torrents: yes

  tv:
    interval: 5 minutes
    content_size: { min: 25 }
    regexp:
      reject:
        # Avoid re-encoders and poor encoders.
        - '(?x) (?:_|\b) (?: afg | msd | (\{?)c[_ ]p\1 | pimp4003 ) $':
            from: title
        - '(?x) \b subbed \b':
            from: title
    if:
      # Episode 0 is often not a pilot.
      - '[1, 0] == [series_season, series_episode]':
          regexp:
            reject:
              - ? '(?x) (?:_|\b) (?: preview | sneak \W+  peek | trailer
                                   | behind \W+ the \W+ scenes
                                   | first \W+ look | making \W+ of )
                        (?:_|\b)'
                : { from: title }

  tv-series:
    template: tv
    series:
      settings:
        tv: &TV_SETTING
          quality: hdtv+ <=720p
          target: <720p
          timeframe: 2 hours
          propers: 12 hours
          specials: no
          path: ~/Media/TV/{{series_name}}/.
        animation:
          <<: *TV_SETTING
          path: ~/Media/TV/Animation/{{series_name}}/.
        documentaries:
          <<: *TV_SETTING
          path: ~/Media/TV/Documentaries/{{series_name}}/.
        foreign:
          <<: *TV_SETTING
          path: ~/Media/TV/Foreign/{{series_name}}/.
        talk_shows:
          <<: *TV_SETTING
          path: ~/Media/TV/Talk Shows/{{series_name}}/.
    include: [ private/series.yml ]
    if:
      # Reject season previews or recaps.
      - ? 'has_field("series_season") and has_field("series_episode")
             and 1 < series_season and 0 == series_episode'
        : reject

  # Grab the first episode of any new series.
  tv-premieres:
    template: tv
    series_premiere:
      <<: *TV_SETTING
      allow_seasonless: yes
      timeframe: 6 hours
      path: ~/Media/TV/_NEW_/.
    regexp:
      reject:
        - '(?x) (?:_|\b) (?: au | nz | pl | uk | n[fh]l | ufc | sports
                             | championships? | 24(?:h|-7) | bak(e|ing)
                             | world\W+series | live\W+at )
                (?:_|\b)'
        - '(?x) chefs?'
        - '(?x) (?:_|\b) (?: brit(?:s | ish | ain | annic?a)? | england
                             | australia | kitchen | food | cook | tattoo )'
        - '(?x) (?:_|\b) (?: pdtv | norwegian | hanrel ) (?:_|\b)':
            from: title
      from: series_name

  movies:
    interval: 30 minutes
    quality: dvdrip+ <=720p
    regexp:
      reject:
        - '(?x) [\W_] (?: read[\W_]*nfo | 3-?D(?:BD)? | live\W+at
                          | fan[\W_]edit )
                  (?:_|\b)'
        - ? '(?x) [\W_] (?: dubbed | pldub | cropped | (?:heb|kor|swe)sub
                            | rosubbed )
                  (?:_|\b)'
          : { from: [ title, description ] }
        # Avoid certain groups.
        - '(?x) [\W_] (?: maxspeed | tnt[\W_]*village | cocain | wdr | msd
                          | nnd | thc | ssdd | crys | nogroup | evo
                          | playxd) $'
        # Flexget doesn't recognize "line" as an audio quality.
        - '(?x) [\W_] (?: line ) (?:_|\b)'
      from: title
    content_size: { min: 300, max: 2500 }
    imdb_lookup: yes
    imdb_required: yes
    seen_movies: strict
    if:
      - 'imdb_year < now.year - 6': reject
      - ? "sorted(imdb_genres or []) in [['music'], ['biography', 'music'],
            ['documentary', 'music'], ['biography', 'documentary', 'music']]"
        : reject
      - "'musical' in (imdb_genres or [])": reject
      # Probably a standup comedy.
      - "'comedy' in (imdb_genres or []) and 1 == len(imdb_actors or [])": reject
      - "'english' == (imdb_languages or ['english'])[0]":
          set: { path: ~/Media/Movies/. }
          imdb:
            min_score: 6.2
            min_votes: 500
      - '1 < len(imdb_languages or [])':
          set: { path: ~/Media/Movies/Foreign/. }
      - "'documentary' in (imdb_genres or [])":
          set: { path: ~/Media/Movies/Documentaries/. }
      - "'english' != (imdb_languages or ['english'])[0]":
          set:
            path: ~/Media/Movies/Foreign/{{imdb_languages[0] | capitalize}}/.
          imdb:
            min_score: 6.8
            min_votes: 100
            accept_languages: [
              cantonese, chinese, danish, dutch, french, german, icelandic,
              italian, norwegian, japanese, korean, mandarin, portuguese,
              spanish, swedish ]
          regexp:
            reject_excluding:
              - '(?x) ^ (?: action | adventure | comedy | crime | mystery
                            | sci-fi | thriller | war ) $'
            from: imdb_genres

tasks:
  ###########
  # TV series
  ###########
  btn:
    priority: 1
    include: [ private/btn-rss.yml ]
    template: [ private-torrents, tv-series ]
    manipulate:
      # Remove some btn fields to avoid confusing the series parser.
      # Don't rely solely on the scene release name because it doesn't always
      # include episode info (esp. documentaries).
      - title:
          replace:
            regexp: '(?x) ^ ([^\[]+) .* \[\ ([^\]]+) \ \] \ *$'
            format: '[ \1] \2'
    disable_plugin: [ torrent_alive ]
    # Site doesn't distinguish between dvd and dvd screeners.
    regexp:
      reject:
        - '(?x) \b dvdrip \b': { from: title }
  xspeeds_tv:
    priority: 2
    include: [ private/xspeeds_tv-rss.yml ]
    template: [ private-torrents, tv-series ]
    # Only accept scene torrents here- members have no quality standards.
    regexp:
      reject_excluding:
        - '(?x) ^ XSbot $': { from: author }
  torrentday_tv:
    priority: 3
    include: [ private/torrentday_tv-rss.yml ]
    template: [ private-torrents, tv-series ]
  bitmetv:
    # Ratio-based tracker; hard to maintain.
    priority: 4
    delay: 10 minutes
    include: [ private/bitmetv-rss.yml ]
    template: [ private-torrents, tv-series ]

  #####################
  # TV series premieres
  #####################
  btn_premieres:
    priority: 20
    include: [ private/btn-rss.yml ]
    template: [ private-torrents, tv-premieres ]
    manipulate:
      - year: { from: title, extract: '^[^[]+\[ (\d{4}) \]' }
      # Use the scene release name.
      - title: { extract: '.*\[ (.+?) \] *$' }
    regexp:
      reject:
        # Site doesn't distinguish between dvd and dvd screeners.
        - '(?x) \b dvdrip \b': { from: title }
        - '(?x) [\W_] kor $': { from: title }
        - ? '(?x) \b (?: anime | celebrities | children | cooking | dance
              | dating | fashion | food | gameshow | homeandgarden | lifestyle
              | music | soap | sport ) \b'
          : { from: comments }
        - '(?x) ^ \W* (?: reality | sports ) \W* $': { from: comments }
    if:
      # Accept only the current year, respecting dates near the boundary.
      - ? 'not str(year).isdigit() or int(year) not in
            [(now + timedelta(n)).year for n in (0, -60, 60)]'
        :  reject
  xspeeds_tv_premieres:
    manual: yes
    priority: 21
    include: [ private/xspeeds_tv-rss.yml ]
    template: [ private-torrents, tv-premieres ]
    # Only accept scene torrents here- members have no quality standards.
    regexp:
      reject_excluding:
        - '(?x) ^ XSbot $': { from: author }
  torrentday_tv_premieres:
    manual: yes
    priority: 22
    include: [ private/torrentday_tv-rss.yml ]
    template: [ private-torrents, tv-premieres ]

  ########
  # Movies
  ########
  xspeeds_movies:
    priority: 31
    include: [ private/xspeeds_movies-rss.yml ]
    template: [ private-torrents, movies ]
    # Only accept scene torrents here- members often mislabel.
    regexp:
      reject_excluding:
        - '(?x) ^ XSbot $': { from: author }
  torrentday_movies:
    priority: 32
    include: [ private/torrentday_movies-rss.yml ]
    template: [ private-torrents, movies ]
  ptp:
    priority: 33
    include: [ private/ptp-rss.yml ]
    template: [ private-torrents, movies ]
    regexp:
      reject:
        - '/ Extras\b' : { from: title }
  # Foreign: AsiaTorrents.com and EUTorrents.com
  avistaz:
    priority: 34
    sequence:
      - rss:
          url: 'http://feeds.feedburner.com/eutorrentsbt'
          silent: yes
          all_entries: no
      - rss:
          url: 'http://feeds.feedburner.com/btavistaz'
          silent: yes
          all_entries: no
    template: [ private-torrents, movies ]
    urlrewrite:
      site:
        regexp: '(?x) ^ http:// (?P<host>[^/]+) .*? &id= (?P<id>[^&]+)'
        format: 'http://\g<host>/download.php?id=\g<id>&f=\g<id>.torrent'
    regexp:
      reject_excluding:
        - '(?x) \b english \b': { from: [ title, description ] }
      reject:
        - ? '(?x) \b (?: dubbed  | episodes? | broadcast \W+ network
                         | tv \W+ program | air \W+ (?:date | time)
                         | no \W+ english \W+ sub(?:title)s?
                     ) \b'
          : { from: [ title, description ] }
