PATH=~/bin:/opt/local/bin:/usr/local/bin:/usr/bin:/bin

1-59/5  * * * * nice -n 19 ~/bin/flexget --cron
1-59/2 * * * * transmission-watchdog 2>&1 | tee -a /tmp/transmission-watchdog.log | while read l; do growlnotify -t 'transmission-watchdog via cron' -m "$l"; done
